<h1>Treats#index</h1>

<% @treats.each do |treat| %>
  <br />
  作成者：<%= treat.user.email %>
  <br />
  <%= treat.completiondate %>に　
  <%= link_to treat.location, treat_path(treat.id) %>で　
  <%= treat.content %>する　

  <% treat.marks.each do |mark| %>
    <% if treat.user_id == mark.user_id %>
      進捗率：<%= mark.progress %>%
    <% end %>
  <% end %>
  <br />
<% end %>

<%= paginate @treats %>
<br />
<%= link_to "新規作成", new_treat_path %>
