<%= turbo_frame_tag reward do %>
  <%= bootstrap_form_with(model: reward, data: { action: "turbo:submit-end->modal#close" }) do |form| %>
    <div>
      <%= form.label :completiondate, style: "display: block" %>
      <%= form.date_field :completiondate, value: reward.completiondate %>
    </div>

    <div>
      <%= form.label :location, style: "display: block" %>
      <%= form.text_area :location %>
    </div>

    <div>
      <%= form.label :content, style: "display: block" %>
      <%= form.text_area :content %>
    </div>


    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
