<p style="color: green"><%= notice %></p>

<% @rewards.each do |reward| %>
  <%= turbo_frame_tag reward do %>
    作成者：<%= reward.user.email %>
    <br />
    <%= reward.completiondate %>に　
    <%= link_to reward.location, reward_path(reward.id), data: { turbo: false } %>で　
    <%= reward.location %>で　
    <%= reward.content %>する
    <br />
    <br />
  <% end %>
<% end %>

<%= paginate @rewards %>
<br />
<%= link_to "新規作成", new_reward_path %>
